html, body, main {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-color: transparent;
}

main {
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-padding: var(--spacing-sm);
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    display: flex;
    align-items: flex-end;
    gap: var(--spacing-sm);
    height: 100dvh;
    padding: var(--spacing-sm);
}