main {
    padding: var(--spacing-sm);
    display: flex;
    align-items: flex-end;
    gap: var(--spacing-sm);
    height: 100dvh;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-padding: var(--spacing-sm);
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
}

main > a {
    width: 25dvw;
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xs);
}

.project-cover > img {
    width: 100%;
    max-height: calc(100dvh - (2 * var(--spacing-lg) + var(--spacing-sm)));
    border-radius: var(--border-radius);
    object-fit: cover;
    margin: 0;
}

/* BREAKPOINTS */

@media screen and (max-width: 1280px) {
   main > a {
        width: 40dvw;
    }
}

@media screen and (max-width: 768px) {
    main {
        flex-direction: column;
        overflow: auto;
        scroll-snap-type: y mandatory;
    }

    main > a {
        height: 100dvh;
        width: 100% !important;
        scroll-snap-align: end;
        justify-content: flex-end;
    }
}

@media screen and (max-width: 480px) {

}