nav {
    bottom: 0;
    padding: var(--spacing-sm);
    align-items: flex-start;
    position: fixed;
    z-index: 9999;
    display: flex;
    gap: var(--spacing-lg);
}

nav > p {
    flex: 2;
}

nav > span {
    position: relative;
    top: -2px;
    flex: 5;
}

main {
    padding: var(--spacing-sm);
    display: flex;
    gap: var(--spacing-sm);
    height: 100dvh;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-padding: var(--spacing-sm);
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    /* scroll-snap-type: x mandatory; */

}

main > a, .intro {
    height: 100dvh;
    flex: 0 0 auto;
    scroll-snap-align: start;
}

main > a > div {
    display: flex;
    flex-direction: column;
    gap: calc(var(--spacing-sm) / 2);
}

.intro {
    order: -1;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-sm);
    padding-right: var(--spacing-lg);

}

.intro > .bio {
    width: 25dvw;
}

.intro > .links {
    display: flex;
    flex-direction: column;
    width: 16.67dvw;
}

.project-title > div {
    display: flex;
    justify-content: space-between;
}

.project-cover > img {
    width: 100%;
    max-height: calc(100dvh - (2 * var(--spacing-lg) + var(--spacing-sm)));
    border-radius: var(--border-radius);
    object-fit: cover;
}

main > a:nth-child(6n+2) {
    width: 33dvw;
}

main > a:nth-child(6n+3) {
    width: 25dvw;
}

main > a:nth-child(6n+4) {
    width: 41.67dvw;
}

main > a:nth-child(6n+5) {
    width: 16.67dvw;
}

main > a:nth-child(6n) {
    width: 25dvw;
}

main > a:nth-child(6n+1) {
    width: 41.67dvw;
}

/* BREAKPOINTS */

@media screen and (max-width: 1280px) {
    
    main > a:nth-child(3n+2) {
        width: 41.67dvw;
    }
    
    main > a:nth-child(3n) {
        width: 25dvw;
    }

    main > a:nth-child(3n+1) {
        width: 33.33dvw;
    }

    .intro > .bio {
        width: 33dvw;
    }
}

@media screen and (max-width: 768px) {
    main {
        flex-direction: column;
        overflow: auto;
        gap: var(--spacing-md);
        padding-bottom: var(--spacing-lg);
        scroll-snap-type: y mandatory;
    }

    main > a {
        width: 100% !important;
        flex: 0 0 auto;
    }
    
    .intro {
        order: 1;
        flex-direction: row;
        gap: var(--spacing-lg);
    }

    .intro > .bio {
        width: calc(66.67% - var(--spacing-lg));
    }

    .bio > .links {
        width: 33.33%;
    }
}

@media screen and (max-width: 480px) {
    .intro {
        width: 100%;
    }
}