main {
    padding-left: var(--spacing-sm);
    padding-right: var(--spacing-sm);
    padding-bottom: var(--spacing-lg);
    display: flex;
    flex-direction: column;
    gap: var(--spacing-md);
    align-items: flex-start;
}

main > div {
    display: flex;
    width: 100%;
}

#project-header, #category-header {
    flex: 2;
}

#year-header { 
    flex: 1;
}

#image-header {
    flex: 7;
    left: 4px;
}

main > a > div {
    display: flex;
    gap: var(--spacing-sm);
}

.project-title {
    flex: 5;
    display: flex;
    gap: var(--spacing-sm);
}

.project-title > p {
    flex: 2;
    max-height: fit-content;
}

.project-title > p:last-child {
    flex: 1;
    max-height: fit-content;
}

.project-cover {
    flex: 7;
    display: flex;
    gap: var(--spacing-sm);
}

.project-cover > img {
    width: 100%;
    border-radius: var(--border-radius);
    aspect-ratio: 16/9;
    object-fit: cover;
}

/* BREAKPOINTS */

    @media screen and (max-width: 1280px) {
        main > div {
            display: none;
        }
        .project-title {
            flex-direction: column;
            gap: 0;
            flex: 3;
        }

        .project-cover {
            flex: 9;
        }
    }

    @media screen and (max-width: 768px) {
        main > a > div {
            flex-direction: column-reverse;
            gap: var(--spacing-sm);
        }
    }