html, body {
    height: auto;
}

main {
    padding-top: calc(var(--spacing-lg) + var(--spacing-sm) + var(--fontsize-sm));
    padding-left: var(--spacing-sm);
    padding-right: var(--spacing-sm);
    padding-bottom: var(--spacing-lg);
}

h1 > img {
    height: calc(var(--fontsize-lg) * 0.73);
    position: relative;
}

h1 > a {
    font-size: var(--fontsize-lg);
    line-height: var(--lineheight-lg);
    white-space: nowrap;
}

h1 > img:hover::after {
    content: '';
    position: absolute;
    width: calc(100% + 2 * var(--spacing-md));
    height: calc(100% + 2 * var(--spacing-md));
    top: calc(-1 * var(--spacing-md));
    left: calc(-1 * var(--spacing-md));
    border-radius: var(--radius-sm);
    z-index: 99;
    background-color: var(--highlight-color);
}