html, body {
    height: auto;
    background-image: url("../../assets/images/about/jaden.jpg");
}

main {
    padding-top: calc(var(--spacing-lg) + var(--spacing-sm) * 5);
    padding-left: var(--spacing-sm);
    padding-right: var(--spacing-sm);
    padding-bottom: var(--spacing-lg);
}

h1 {
    text-align: justify;
}