html {
  scroll-snap-type: y mandatory;
  scroll-padding: var(--spacing-sm);
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

body {
    padding-top: var(--spacing-xl);
    padding-left: var(--spacing-sm);
    padding-right: var(--spacing-sm);
    padding-bottom: var(--spacing-xl);
}

nav {
  padding-left: 0 !important;
  padding-right: calc(2 * var(--spacing-sm)) !important;
}

.left-column {
    position: fixed;
    height: calc(100% - (var(--spacing-sm) + var(--spacing-xl)));
    width: calc(25% - (var(--spacing-sm) + var(--spacing-md)));
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 1;
}

.project-title {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);
}

.project-title-head {
  display: flex;
  width: calc(100dvw - (2 * var(--spacing-sm)));
  justify-content: space-between;
}

.project-title-head > a {
  display: none;
}

.project-details-container {
  padding-top: var(--spacing-md);
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: var(--spacing-sm);
}

.project-details-title {
  width: 25%;
}

.right-column {
    padding-left: calc(25% + var(--spacing-sm));
    display: flex;
    flex-direction: column;
    gap: var(--spacing-sm);
    width: 100%;
    z-index: 0;
}

.right-column > img {
    width: 100%;
    border-radius: var(--border-radius);
    object-fit: cover;
    /* scroll-snap-align: start; */
}

.full-image {
    height: 100%;
    aspect-ratio: auto !important;
}

iframe {
  width: 100%;
  aspect-ratio: 16 / 9;
  border: none;
}


/* BREAKPOINTS */

@media screen and (max-width: 1280px) {
  .left-column {
    width: calc(33% - (var(--spacing-sm) + var(--spacing-md)));
  }

  .right-column {
    padding-left: calc(33% + var(--spacing-sm));
  }
}

@media screen and (max-width: 768px) {
  .left-column {
    position: relative;
    width: 100%
  }

  .project-title {
    width: 75%;
  }

  .right-column {
    width: 100%;
    padding-left: 0;
    padding-top: var(--spacing-lg);
  }

  .project-title-head > a {
    display: block;
    justify-content: space-between;
  }

  .project-details-title {
    width: 33%;
  }

  .project-details-container {
    padding-top: var(--spacing-sm);
  }    

  .left-column > a {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .project-title {
    width: 100%;
  }
}