html {
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
}

body {
    padding-top: var(--spacing-xl);
    padding-left: var(--spacing-sm);
    padding-right: var(--spacing-sm);
    padding-bottom: var(--spacing-xl);
}

nav {
  padding-left: 0 !important;
  padding-right: calc(2 * var(--spacing-sm)) !important;
}

.left-column {
    position: fixed;
    height: calc(100% - (var(--spacing-sm) + var(--spacing-xl)));
    width: calc(25% - (var(--spacing-sm) + var(--spacing-md)));
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 1;
}

.project-title {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);
}

.project-title-head {
  display: flex;
  justify-content: space-between;
}

.project-title-head > a {
  display: none;
}

.project-details-container {
  padding-top: var(--spacing-md);
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: var(--spacing-sm);
}

.project-details-title {
  width: 25%;
}

.right-column {
    padding-left: calc(25% + var(--spacing-sm));
    display: flex;
    flex-direction: column;
    gap: var(--spacing-sm);
    width: 100%;
    z-index: 0;
}

.right-column > img {
    width: 100%;
    border-radius: var(--border-radius);
    object-fit: cover;
}

.full-image {
    height: 100%;
    aspect-ratio: auto !important;
}

.bg-video {
  --controls: none;
}

/* CONTAINER APPLIED ONLY TO NON-BG VIDEO */
.custom-play-button-container {
  position: relative;
  width: 100%;
  aspect-ratio: 16 / 9;
}

.custom-play-button-container mux-player {
  pointer-events: none;
}

.custom-play-button-container.is-active mux-player {
  pointer-events: auto;
}

.custom-play-button {
  height: var(--spacing-button-lg);
  width: var(--spacing-button-lg);
  font-size: var(--fontsize-md);
  padding: var(--spacing-sm);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  background: rgba(255, 255, 255, 0.2);
  border: solid 1px rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(4px);
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: var(--bg-color);
  transition: var(--transition-all);
}

.custom-play-button:hover {
  background-color: var(--bg-color);
  color: var(--text-color);
}

.custom-play-button-container.is-active .custom-play-button {
  opacity: 0;
  pointer-events: none; 
}

mux-player {
  transition: var(--transition-all);
  width: 100%;
  aspect-ratio: 16 / 9;
  border: none;
  padding: 0;
  margin: 0;
  --media-object-fit: cover;
  --media-object-position: center;
  --seek-backward-button: none;
  --seek-forward-button: none;
  --live-button: none;
  --mute-button: none;
  --captions-button:none;
  --airplay-button: none;
  --pip-button: none;
  --cast-button: none;
  --playback-rate-button: none;
  --time-range: none;
  --volume-range: none;
  --rendition-menu-button: none;
  --media-tooltip-display: none;

  --range-track-color: rgba(255, 255, 255, 0.2);
  --range-thumb-color: var(--bg-color);
  --range-progress-color: var(--bg-color);
}

mux-player::part(center play button) {
  display: none;
}

mux-player::part(bottom) {
  background: none;
  padding: var(--spacing-xs);
}

mux-player::part(bottom play button),
mux-player::part(fullscreen button),
mux-player::part(time) {
  color: var(--bg-color);
  border-radius: 8px;
  border: solid 1px transparent;
  transition: var(--transition-all);
  padding: var(--spacing-xs);
}

mux-player::part(bottom play button),
mux-player::part(fullscreen button) {
  width: var(--spacing-button-md);
  height: var(--spacing-button--md);
}

mux-player::part(time) {
  pointer-events: none;
}

mux-player::part(bottom play button):hover,
mux-player::part(fullscreen button):hover{
  background-color: rgba(255, 255, 255, 0.2);
  border: solid 1px rgba(255, 255, 255, 0.5);
}

mux-player::part(time) {
  font-family: 'NeueHaas';
  font-size: var(--fontsize-sm);
  color: var(--bg-color);
}

/* BREAKPOINTS */

@media screen and (max-width: 1280px) {
  .left-column {
    width: calc(33% - (var(--spacing-sm) + var(--spacing-md)));
  }

  .right-column {
    padding-left: calc(33% + var(--spacing-sm));
  }
}

@media screen and (max-width: 768px) {
  .custom-play-button {
    font-size: var(--fontsize-md);
    padding: var(--spacing-xs);
  }

  .left-column {
    position: relative;
    width: 100%
  }

  .right-column {
    width: 100%;
    padding-left: 0;
    padding-top: var(--spacing-lg);
  }

  .project-title-head > a {
    display: block;
    justify-content: space-between;
  }

  .project-details-title {
    width: 33%;
  }

  .project-details-container {
    padding-top: var(--spacing-sm);
  }    

  .left-column > a {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .project-title {
    width: 100%;
  }
}