main {
    padding-top: calc(var(--spacing-lg) + var(--spacing-sm) + var(--fontsize-sm));
    padding-left: var(--spacing-sm);
    padding-right: var(--spacing-sm);
    padding-bottom: var(--spacing-lg);
}

.thumbnail-image {
    display: none;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: calc(100% - var(--spacing-md) * 2);
    position: fixed;
    object-fit: contain;
    pointer-events: none;
}

.project-thumbnail:hover {
    background-color: attr(data-hex);
}

.project-thumbnail:hover .thumbnail-image {
    display: block;
}