<div class="modal" id="index-modal">
  <div id="project-list">
    <a href="/projects/tickticktick.html"><p>01</p><p>Tickticktick</p><p>Branding, Motion</p></a>
    <a href="/projects/grasshoppa.html"><p>02</p><p>Grasshoppa!</p><p>Branding, 3D</p></a>
    <a href="/projects/protein.html"><p>03</p><p>Protein</p><p>Coding, UI/UX</p></a>
    <a href="/projects/secret-exits.html"><p>04</p><p>Secret Exits</p><p>3D, Sound Design</p></a>
    <a href="/projects/peppermania-2024.html"><p>05</p><p>Peppermania 2024</p><p>Branding, Publication</p></a>
    <a href="/projects/moose.html"><p>06</p><p>MoOSE</p><p>Branding, Website</p></a>
    <a href="/projects/roji.html"><p>07</p><p>Roji</p><p>Packaging, 3D</p></a>
    <a href="/projects/qz.html"><p>08</p><p>Qz Variable</p><p>Typeface, Motion</p></a>
  </div>
</div>

<div class="modal" id="info-modal">
  <div id="contact-div">
    <a href="mailto:jadenk198@gmail.com">(E) jadenk198@gmail.com</a>
    <a href="assets/files/Jaden_Kim_Resume.pdf" download>(CV) Download</a>
    <a href="https://github.com/jadenk-im">(GH) @jadenk-im</a>
  </div>
  <div id="edu-div">
    <p>MFA Graphic Design, MICA</p>
    <p>BA Computer Science, Pomona College</p>
    <p>Bench 275, Squat 335, Deadlift 405</p>
  </div>
  <p id="bio-div">Jaden Kim is a graphic designer and published machine learning<br>researcher. His work focuses on modular identities and experi-<br>mental storytelling. He is also a member of the 1000-pound club.</p>
</div>
