.loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999999;
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--text-color);
    transition: var(--transition-all)
}

.loading-screen > div {
    width: 50vh;
    height: 25vh;
    border-radius: 50% 50% 0 0 / 100% 100% 0 0;
    border: 1px solid var(--bg-color);
    border-bottom: 0;
    pointer-events: none;
    transition: var(--transition-all)
}

#arc-1 {
    transform: translate(calc(-25% - 1px), 100%) rotate(180deg);
}

#arc-2 {
    transform: translate(calc(50% + 1px), -50%) rotate(270deg);
}

/* BREAKPOINTS */
@media screen and (max-width: 768px) {
    .logo-arc {
        width: 50vw;
        height: 25vw;
    }
}