nav {
    top: var(--spacing-md);
    width: 100%;
    padding: var(--spacing-sm);
    justify-content: space-between;
    align-items: flex-start;
    position: fixed;
    z-index: 9999;
    display: flex;
}

nav > ul {
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: var(--spacing-xs);
}