nav {
    bottom: 0;
    padding: var(--spacing-sm);
    align-items: flex-start;
    position: fixed;
    z-index: 9999;
    display: flex;
    gap: var(--spacing-lg);
}

nav > p {
    flex: 2;
}

nav > span {
    position: relative;
    top: -2px;
    flex: 5;
}

/* BREAKPOINTS */

    @media screen and (max-width: 1280px) {
        nav {
            gap: var(--spacing-md);
        }
    }

    @media screen and (max-width: 768px) {
        nav {
            flex-direction: column;
            gap: var(--spacing-sm);
            width: 67%;
        }
    }

    @media screen and (max-width: 480px) {
        nav {
            width: 100%;
        }
    }