nav {
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    z-index: 9999;
    display: flex;
    justify-content: space-between;
    padding: var(--spacing-sm);
} 

nav > span {
    display: flex;
    gap: var(--spacing-sm);
}

.mobile-menu-button, #mobile-menu {
    display: none;

}

.mobile-menu-button {
    background: none;
    text-align: right;
}

#mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--text-color);
    color: var(--bg-color);
    z-index: 999999;
}

#mobile-menu .mobile-menu-button {
    position: absolute;
    top: var(--spacing-sm);
    right: var(--spacing-sm);
}

#mobile-menu div {
    position: absolute;
    bottom: var(--spacing-sm);
    left: var(--spacing-sm);
    display: flex;
    flex-direction: column;
}

#mobile-menu div a {
    width: fit-content;
    align-items: center;
}

/* BREAKPOINTS */
  
  @media screen and (max-width: 768px) {
    .mobile-menu-button {
        display: block;
    }

    #desktop-menu {
        display: none;
    }
  }