@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(var(--spacing-sm));
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.load {
    opacity: 0;
  animation: fadeIn 750ms var(--transition) 250ms forwards;
}
