:root {
  --bg-color: white;
  --text-color: hsl(0,0%, 20%);
  --highlight-color: hsl(0,0%,60%);

  --spacing-xs: 4px;
  --spacing-sm: 12px;
  --spacing-md: 24px;
  --spacing-lg: 48px;
  --spacing-xl: 108px;
  --spacing-button: 24px;

  --border-radius: 0px;

  --fontsize-sm: 9px;
  --fontsize-md: 14px;
  --fontsize-lg: 31px;

  --lineheight-sm: 1.3;
  --lineheight-md: 1.2;
  --lineheight-lg: 0.9;

  --transition: cubic-bezier(0.87, 0, 0.13, 1);
  --transition-all: all 250ms var(--transition);
  --transition-opacity: opacity 250ms var(--transition);
  --transition-transform: transform 250ms var(--transition);
}

* {
  box-sizing: border-box;
}

*::selection {
  color: var(--bg-color);
  background-color: var(--highlight-color);
}

html, body {
  color: var(--text-color);
  margin: 0;
  padding: 0;
  background-color: var(--bg-color);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  overflow-x: clip;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}

main {
  flex-grow: 1;
}

.freeze {
  pointer-events: none;
}

/* BREAKPOINTS */
@media screen and (max-width: 768px) {

}

@media screen and (max-width: 480px) {

}
