h1, h2, p, a, label, input, button {
  font-family: 'Neue Haas', 'Helvetica', sans-serif;
  font-weight: 600;
  margin: 0;
  padding: 0;
  position: relative;
  text-decoration: none;
  color: inherit;
  text-transform: uppercase;
}

h1 {
  font-size: var(--fontsize-lg);
  line-height: var(--lineheight-lg);
}

h2 {
  font-size: var(--fontsize-lg);
  line-height: var(--lineheight-lg);
}

p, a, label, input, button {
  font-size: var(--fontsize-sm);
  line-height: var(--lineheight-sm);
  border: none;
}

a:hover, button:hover {
  cursor: pointer;
  position: relative;
  color: var(--highlight-color);
}
