h1, h2, h4, p, a, label, input, button {
  font-family: 'NeueHaas', 'Helvetica', sans-serif;
  font-weight: 500;
  margin: 0;
  padding: 0;
  position: relative;
  text-decoration: none;
  border: none;
  color: inherit;
  hyphens: auto;
}

h1 {
  font-family: 'NeueHaas';
  font-size: var(--fontsize-lg);
  line-height: var(--lineheight-lg);
}

h2 {
  font-size: var(--fontsize-md);
  line-height: var(--lineheight-md);
  text-transform: uppercase;
}

p, a, label, input, button {
  font-size: var(--fontsize-md);
  line-height: var(--lineheight-md);
}

h4 {
  font-size: var(--fontsize-sm);
  line-height: var(--lineheight-sm);
  color: var(--highlight-color);
}

a {
  display: inline-block;
}

a:hover {
  color: var(--highlight-color);
}

/* BREAKPOINTS */
@media screen and (max-width: 768px) {

}

@media screen and (max-width: 480px) {

}